<h1>Create a new Landmark</h1>
<form action="/landmarks" method="POST">
  <label for="landmark_name">Landmark Name: </label>

  <br></br>

  <input type="text" id="landmark_name" name="landmark[name]">

  <br></br>
  <label for ="year">Year:</label>
  <input type="text" id="year" name="landmark[year_completed]">

  <p>Does your figure have any of the below titles?</p>
    <% Title.all.each do |title| %>
      <br><input  type="checkbox" id="title_<%= title.id %>"name="landmark[title_ids][]" value="<%= title.id %>"><%= title.name %></br>
    <% end %>
  <p>Or please add a new title: </p>
  <label for="new_title">Title Name: </label>
  <input type="text" id="new_title" name="title[name]">

  <p>Does your landmark have any of the below figures?</p>
    <% Landmark.all.each do |landmark| %>
      <br><input id="landmark_<%= figure.id %>" type="checkbox" name="landmark[figure_ids][]" value="<%= landmark.id %>"><%= landmark.name %></br>
    <% end %>
  <p>Or please add a new landmark: </p>
  <label for="new_figure">Figure Name: </label>
  <input type="text" id="new_figure" name="figure[name]">



  <input type="submit" value="Create New Landmark">
</form>

<h5><a href="/">Return to Home Page</a><h5>
